<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Toulouse.rb - {{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'> 

    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />


    <link rel="alternate" title="Events" href="/events.xml" type="application/rss+xml" /> 
    <link rel="alternate" title="Blog" href="/blog.xml" type="application/rss+xml" /> 
  </head>
  <body>

    <div id="box">

      <div id="topbar">
        <h1> 
          <a href="http://www.toulouserb.org/"><img alt="toulouse.rb" border="0" height="60px" src="/images/logo.png" title="toulouse.rb" /></a> 
        </h1>
      </div> 

      <div id="menu"> 
        <ul> 
          <li><span id="event_count" class="count"></span><a href="#events">Evènements</a></li> 
          <li><span id="news_count" class="count"></span><a href="#news">Nouvelles</a></li> 
        </ul> 
      </div> 

      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

